ul li {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: start;
    color: red;
    border: 7px;
    padding: gray 7px;
    margin: 10px;
}

#recipes {
    padding-right: 50px;
    margin-right: 50px;
}


/* * {
    border: 1px dotted red;
} */

.h1-container {
    display: flex;
    justify-content: space-between;
    background-color: antiquewhite;
}

.social {
    font-weight: 700;
}

.recipes {
    display: flex;
}