ul li {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: start;
    color: red;
    border: 7px;
    padding: gray 7px;
    margin: 10px;
}


/* debugging code
* {
    border: 1px dotted red;
} */

.h1-container {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
}

.social {
    font-weight: 700;
    margin: 7px;
    padding: 2px;
}

.recipes {
    display: flex;
    align-items: center;
    background-color: azure
}

.social-links {
    margin: 7px;
}

.background-container {
    background-color: black;
}

.title {
    color: gold;
}