* {
    /* border: 1px dotted red; debugging code 'border' property */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .menu-container {
    display: flex;
    justify-content: center;
    color: #fff;
    background-color: #5995DA;  /* Blue */
    padding: 17px 0;
  }
  
  .menu {
    padding: 7px;
    width: 900px;
    display: flex;
    justify-content: space-between;
  }

  .links {
    display: flex;
    justify-content: flex-end;
  }

  .login {
    margin-left: 20px;
  }

  .header-container {

    color: #5995DA;
    background-color: #d6e9fe;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }


  .header {
    align-items: center;
    /* width: 900px; comment out this property */
    height: 300px;
    display: flex;
    justify-content: space-around;
  }


  .photo-grid-container {
    display: flex;
    justify-content: center;
  }

  .photo-grid {
    flex-direction: row;
    /* width: 900px; */
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .photo-grid-item {
    display: flex;
    border: 1px #fff;
    width: 300px;
    height: 300px;
  }

  .first-item {
    order: 1;
  }

  .last-item {
    order: -1;
  }

  .subscribe,
  .social {
    align-self: flex-start;
    margin: 20px;
  }

  .footer {
    display: flex;
    justify-content: space-between;
  }

  .footer-item {
    border: 1px blue;
    background-color: #d6e9fe ;
    height: 200px;
    flex: 1;
  }

  .footer-one,
  .footer-three {
    background-color: #5995DA;
    flex: initial;
    width: 300px;
  }

  .background-container {
    background-color: chocolate;
  }

  .flex-container {
    display: flex;
  }

  .flex-container div {
    background-color: peachpuff;
    border: 4px brown;
  }